body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.song {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;
  padding: 10px;
}

img {
  max-width: 100%;
}

h2 {
  margin: 10px 0;
  font-size: 20px;
}

p {
  font-size: 16px;
  padding: 0 10px;
}
