
body {
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}


.parallax {
  background-image: url('images/rooster.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden; 
}


.nav {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}


.text-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}


.content-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
